<%= render partial: "/layouts/navbar" %>

<div class="container formImg">
<%= form_for @user, url: user_update_path(@user.id) do |form| %>
      
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-font"></span></span>
        <%= form.text_field :first_name, placeholder: 'First Name', class:"form-control"%>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-font"></span></span>
        <%= form.text_field :last_name, placeholder: 'Last Name', class:"form-control" %>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
        <%= form.text_field :email, placeholder: 'Email' , class:"form-control"%>
    </div>


    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-eye-close"></span></span>
        <%= form.password_field :password ,placeholder: 'Password' , class:"form-control"%>
    </div>

    	<%= form.file_field :photos, multiple: true%>
    </br>

    <div class="modal-footer">
      </br>

      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= form.submit "Confirm", class: "btn btn-primary" %>
    </div>
    
<% end %>

</div>

<%= render partial: "/layouts/footer" %>