<%= render partial: "/layouts/navbar" %>

<div class='container'>
  <% @listing.each do |t| %>
  <a href="/listings/<%= t.id %>" target="blank">
  <div class="listingstyle">
    <div class="thumbnail">
      <%= image_tag("example.jpg") %>
      <div class="caption">
        <h5><%= t.property_type %> · <%= t.bed_number %> BEDS</h5>
        <h4><%= t.name %></h4>
        <h5>RM <%= t.price %> per night</h5>
      </div>
    </div>
  </div>
  </a>
  <% end %>
  <div id='paginate'>
    <div class='container'><%= paginate @listing ,window: 2%></div>
  </div>
</div>

<%= render partial: "/layouts/footer" %>
